<h1>Listing officers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @officers.each do |officer| %>
  <tr>
    <td><%= officer.name %></td>
    <td><%= officer.position %></td>
    <td><%= officer.email %></td>
    <td><%= link_to 'Show', officer %></td>
    <td><%= link_to 'Edit', edit_officer_path(officer) %></td>
    <td><%= link_to 'Destroy', officer, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Officer', new_officer_path %>
