<div id="officer_sign_in" class="admin">
  <% if signed_in? %>
    Signed in as <%= current_user.name %> (<%= link_to 'sign out',
                                                   '/signout',
                                                   :class => 'admin' %>)
  <% else %>
    <%= link_to 'Officer Sign-In', '/signin', :class => 'admin' %>
  <% end %>
</div>

<h1>Listing officers</h1>

<% unless flash[:notice].nil? %>
  <div id="notice" class="no_ul"><%= flash[:notice] %></div>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @officers.each do |officer| %>
  <tr>
    <td><%= link_to officer.name, officer %></td>
    <td><%= officer.position %></td>
    <td><%= link_to 'Edit', edit_officer_path(officer), :class => 'admin' %></td>
    <td><%= link_to 'Destroy', officer, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'admin' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Officer', new_officer_path, :class => 'admin' %>
