<div id="officer_sign_in" class="admin">
  <% if signed_in? %>
    Signed in as <%= link_to current_user.name, current_user, :class => 'admin' %>
    (<%= link_to 'sign out', '/signout', :class => 'admin' %>)
  <% else %>
    <%= link_to 'Officer Sign-In', '/signin', :class => 'admin' %>
  <% end %>
</div>

<h1>Officers of UAS</h1>

<% unless flash[:notice].nil? %>
  <div id="notice" class="no_ul"><%= flash[:notice] %></div>
<% end %>

<% @officers.each do |officer| %>
  <div class="officer_card">
    <%= image_tag officer.avatar.url(:medium) %>
    <span class="officer_info"><b><%= link_to officer.name, officer %></b></span>
    <span class="officer_info"><%= officer.position %></span>
    <span class="officer_info">
      <% if can_edit? officer %>
        <%= link_to 'Edit', edit_officer_path(officer), :class => 'admin' %>
        <% if current_user.is_president %>
            | <%= link_to 'Remove', officer, :method => :delete, \
                :data => { :confirm => "Really remove #{officer.name} as an officer?" }, \
                :class => 'admin' %>
        <% end %>
      <% end %>
    </span>
  </div>
<% end %>

<% if !current_user.nil? && current_user.is_president %>
  <br />
  <%= link_to 'New Officer', new_officer_path, :class => 'admin' %>
<% end %>
