<% unless notice.nil? || notice == '' %>
  <div id="notice_container">
    <div id="notice"><h2><%= notice %></h2></div>
  </div>
<% end %>

<div id="officer_display">
  <div id="officer_image">
    <%= image_tag @officer.avatar.url %>
  </div>

  <div id="officer_info_container">
    <div id="officer_info">
      <h1><%= @officer.name %><span id="officer_position"><%= @officer.position %></span></h1>
      
      
      <p>
        Email: <%= mail_to @officer.email %>
      </p>

      <% unless @officer.description.empty? %>
        <hr>

        <p><%= @officer.description.html_newlines.html_safe %></p>
      <% end %>
    </div>
  </div>
</div>

<br />
<%= link_to 'Back', officers_path %>
<% if can_edit? @officer %>
  | <%= link_to 'Edit', edit_officer_path(@officer), :class => "admin" %>
<% end %>