<h1>Officer sign in</h1>

<% unless flash[:error].nil? %>
  <div id="error_explanation_container">
    <div id="error_explanation" class="no_ul">
      Oops! <%= flash[:error] %>
    </div>
  </div>
<% end %>

<div id="sign_in_form">
  <%= form_for(:session, :url => sessions_path) do |f| %>
    <div class="field" id="email_field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field" id="password_field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <%= f.submit 'Sign in' %>
  <% end %>
</div>