<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation_container">
      <div id="error_explanation">
        <h2>Oops! There were <%= pluralize(@event.errors.count, "error") %>:</h2>

        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field" id="time_field">
    <div id="date_field">
      <%= f.label :date %><br />
      <%= f.text_field :date %>
    </div>
    <div id="day_time_field">
      <%= f.label :day_time %><br />
      <%= f.text_field :day_time %>
    </div>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
