<!DOCTYPE html>
<html>
<head>
  <title>Undergraduate Astronomical Society</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header-container">
  <div id="header">
    <%= link_to "Undergraduate Astronomical Society", root_path %>
  </div>
</div>
<div id="nav-container">
  <div id="nav">
    <ul>
      <li id="events_nav"><%= link_to "Events", events_path %></li>
      <li id="officers_nav"><%= link_to "Officers", officers_path %></li>
    </ul>
  </div>
</div>
<div id="content-container">
  <div id="content">
    <%= yield %>
  </div>
</div>

</body>
</html>
